@font-face {
  font-family: 'League Spartan';
  src: url('../src/assets/fonts/static/LeagueSpartan-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
}